

#react-root {
	text-align: center;
}

.tech {
	padding: 0.4em 0.6em 0.4em;
	border-radius: 0.2em;
	box-shadow: 0 0.05em 0 rgba(0,0,0,0.1);
}

.electron {
	color: #45828E;
	background-color: #A5ECFA;
}

.react {
	color: #61dafb;
	background-color: #222;
}

.sass {
	color: #c6538c;
	background-color: #ffffff;
}
